<!DOCTYPE html>
<html ng-app="">

  <head>
    <title>Cloudify's Build Dashboard</title>
    <script data-require="angular.js@1.2.22" data-semver="1.2.22" src="https://code.angularjs.org/1.2.22/angular.js"></script>
    <script data-require="lodash.js@2.4.1" data-semver="2.4.1" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body ng-controller="TravisCtrl">
    <div id="header">
      Cloudify's Build Dashboard
      <span>Updated at: {{ updatedAt }}</span>
    </div>
    <div id="wrapper">
      <span class="branch">master</span>
      <div ng-repeat="d in data track by d.name" class="report {{ d.state }}">
        <a href='{{d.travisBuildLink}}'>{{ d.displayName }}</a>
        <div>{{ d.customText }}</div>
      </div>
    </div>
    <div id="builds">
      <span class="branch">build</span>
      <div ng-repeat="d in builds track by d.name" class="report {{ d.state }}">
        <a href='{{d.travisBuildLink}}'>{{ d.displayName }}</a>
        <div>{{ d.customText }}</div>
      </div>
    </div>
    <div id="disabled">
      <div ng-repeat="repo in disabled track by repo.name" class="disabled report">
        {{ repo.displayName }}
      </div>
    </div>
    <script>
      function getCurrentTime() {
        var date = new Date();
        var options = {
          hour12: false,
        };
        return date.toLocaleTimeString('en-us', options).substring(0, 5);
      }

      function TravisCtrl($http, $scope, $timeout, $log) {

        var repositories = [
          'cloudify-cosmo/cloudify-manager',
          'cloudify-cosmo/cloudify-cli',
          'cloudify-cosmo/cloudify-dsl-parser',
          'cloudify-cosmo/cloudify-rest-client',
          'cloudify-cosmo/cloudify-diamond-plugin',
          'cloudify-cosmo/cloudify-docker-plugin',
          'cloudify-cosmo/cloudify-cloudstack-plugin',
          'cloudify-cosmo/cloudify-script-plugin',
          'cloudify-cosmo/cloudify-chef-plugin',
          'cloudify-cosmo/cloudify-puppet-plugin',
          'cloudify-cosmo/cloudify-libcloud-plugin',
          'cloudify-jboss-plugin',
          'cloudify-cosmo/cloudify-openstack-plugin',
          'cloudify-cosmo/cloudify-softlayer-plugin',
          'cloudify-cosmo/cloudify-plugins-common',
          'cloudify-cosmo/cloudify-fabric-plugin',
          'cloudify-cosmo/cloudify-amqp-influxdb',
          'cloudify-cosmo/cloudify-system-tests',
          'cloudify-cosmo/cloudify-plugin-template',
          'cloudify-cosmo/cloudify-agent-packager',
          'cloudify-cosmo/cloudify-version-tool',
          'cloudify-cosmo/cloudify-nodecellar-example',
          'cloudify-cosmo/cloudify-manager-blueprints',
          'cloudify-cosmo/getcloudify.org',
          'cloudify-cosmo/packman',
          'cloudify-cosmo/repex',
          'nir0s/jingen',
          'nir0s/jocker'
        ];

        repos = _.map(repositories, function(name) {
          return {
            'name': name,
            'displayName': name.replace('cloudify-cosmo/', '').replace('nir0s/', ''),
            'travisBuildLink': '',
            'travisApiLink': 'https://api.travis-ci.org/repos/' + name + '/builds?event_type=push',
            'state': 'uninitialized',
            'customText': '0s',
            'buildsPage': 0,
            'branch': 'master'
          };
        });

        function isBuildBranch(branchName) {
            var regexp = new RegExp(/^\d*\.\d*.*/);
            return regexp.exec(branchName) != null && branchName.lastIndexOf('build') == -1;
        }

        function processRepoResponse(repo, response) {
          var builds = _.filter(response.data, function(build) {
            return (isBuildBranch(build.branch) || build.branch == 'master') && build.event_type == 'push' && !(build.state === 'finished' && build.duration == 0);
          });

          builds = builds.sort(function(x, y) {
            if (x.started_at == null) {
              return -1;
            } else if (y.started_at == null) {
              return 1;
            }
            var xStartedAt = new Date(x.started_at);
            var yStartedAt = new Date(y.started_at);
            if (xStartedAt < yStartedAt) {
              return 1;
            } else if (yStartedAt < xStartedAt) {
              return -1;
            }
            return 0;
          });

          if (builds.length == 0) {
            if (response.data.length > 0 && repo.buildsPage < 10) {
              repo.buildsPage += 1;
              lastNumber = response.data[response.data.length-1].number;
              paramConcatIndex = repo.travisApiLink.lastIndexOf("&")
              if (paramConcatIndex != -1)
                repo.travisApiLink = repo.travisApiLink.substring(0, paramConcatIndex);
              repo.travisApiLink += "&after_number=" + lastNumber;
              loadStatus(repo);
            }

            repo.state = 'not-running';
            return null;
          }
          var build = builds[0];
          repo.branch = build.branch;
          repo.travisBuildLink = 'https://travis-ci.org/' + repo.name + '/builds/' + build.id
          repo.state = build.state;
          if (build.state == 'created') {
            repo.customText = '0s';
          } else if (build.state == 'started') {
            var startedAt = new Date(build.started_at);
            var currentTime = new Date();
            repo.customText = Math.max(0, Math.round((currentTime.getTime() - startedAt.getTime()) / 1000)) + 's';
          } else if (build.state == 'finished' && build.result != 0) {
              repo.state = 'failed'
          }
          return build;
        }

        // DEBUG
        // states = ['uninitialized', 'created', 'started', 'finished', 'failed', 'not-running'];
        // for (var i = 0; i < repos.length; i++) {
        //   var number = Math.floor(Math.random() * 100);
        //   repos[i].state = states[number % states.length];
        // }

        $scope.data = repos.sort(function(x, y) {
          return x.displayName.localeCompare(y.displayName);
        });
        $scope.builds = [];
        $scope.disabled = [];
        $scope.updatedAt = getCurrentTime();

        function loadStatus(repo) {
          $log.info('making request to: ' + repo.travisApiLink);
          var timeout = 60000;
          $http.get(repo.travisApiLink).then(function(response) {
              var build = processRepoResponse(repo, response);
              if (build) {
                $log.info('build: ' + JSON.stringify(build));
                if (build.state == 'started' || build.state == 'created') {
                  timeout = 10000;
                }
              }
              $scope.data = repos.filter(function(r) {
                return r.state != 'not-running' && r.branch == 'master';
              });
              $scope.builds = repos.filter(function(r) {
                return r.state != 'not-running' && isBuildBranch(r.branch);
              });
              $scope.disabled = repos.filter(function(r) {
                return r.state == 'not-running';
              });
              $scope.updatedAt = getCurrentTime();

              if (repo.state != 'not-running') {
                $timeout(function() {
                  loadStatus(repo);
                }, timeout);
              }
          }, function(result) {
            $log.error('unable to get results for: ' + repo);
            $timeout(function() {
              loadStatus(repo);
            }, timeout);
          });
        }

        for ( var i = 0; i < repositories.length; i ++) {
          loadStatus(repos[i]);
        }

      }
    </script>
  </body>

</html>
