body {
  font-family: Helvetica, sans-serif;
  background: #000000;
  color: #ffffff;
  margin: 6px;
}

#header {
  background: #003366;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 16px;
}

#header span {
  float: right;
}

#wrapper {
  margin-top: 10px;
  border-bottom: 2px solid #005588;
  padding-bottom: 10px;
  min-height: 40px;
}

#builds {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #005588;
  min-height: 40px;
}

#disabled {
  padding-top: 10px;
}

span.branch {
  float: right;
  color: #ffffff;
  background: #005588;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 44px;
  text-align: center;
  margin-top: 4px;
}

div.report {
  width: 358px;
  display: inline-block;
  padding-top: 34px;
  padding-bottom: 16px;
  font-size: 26px;
  background: #C0C0C0;
  text-align: center;
  font-weight: bold;
  margin: 4px;
  border: 1px solid black;
}

div.report.failed {
  background: #FF0000;
}

div.report.started, div.report.running  {
  background:#ffeb3b
}

div.report.created, div.report.scheduled {
  background: #FF9900;
}

div.report.finished {
  background:#00CC00;
}

div.report.uninitialized {
  border: 1px dashed gray;
  background: #000000;
  color: #ffffff;
}

/*div.report.started, div.report.created {
  background-image: url('progress.gif');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 96% 88%;
}
*/

div.report div {
  color: #000000;
  text-align: left;
  font-size: 14px;
  position: relative;
  top: 10px;
  left: 12px;
  visibility: hidden;
}

div.report.created, div.report.scheduled div {
  font-size: 14px;
}

div.report.started div, div.report.running, div.report.created, div.report.scheduled div {
  visibility: visible;
}

div.report.uninitialized a {
  color: #666666;
}

a {
  color: #000000;
  text-decoration: none;
}

#disabled {
  margin-top: 2px;
}

div.disabled {
  background: #333333;
  color: #b3b3b3;
  padding-top: 20px;
  padding-bottom: 20px;
}